@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.theme-navy {
  background-color: #243a5d;
}

.theme-navy-text {
  color: #243a5d;
}

.theme-navy-border {
  border: 0.5px solid #243a5d;
}

.border-radius-30 {
  border-radius: 30px;
}

.heading-underline {
  border-bottom: 0.125rem solid #243a5d;
  width: 300px;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
