@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.theme-navy {
  background-color: #243a5d;
}

.theme-navy-text {
  color: #243a5d;
}

.theme-navy-border {
  border: 0.5px solid #243a5d;
}
.theme-green-background {
  background-color: #85be2e;
}

.border-radius-30 {
  border-radius: 30px;
}

.heading-underline {
  border-bottom: solid 3px #243a5d;
  position: relative;
  width: 50%;
}

.heading-underline:after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: solid 3px #85be2e;
  bottom: -3px;
  width: 10%;
}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
